.header .title {
  padding: 15 px;
  text-align: center;
}

.form {
  border-radius: 5px;
  padding: 40px;
  margin: 20px;
  align-items: center;
}

.input-form {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
}

.btn-form {
  width: 40%;
  background-color: #00cec9;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  padding: 10px 10px;
  cursor: pointer;
  margin: 8px 0;
}

.btn-form {
  background-color: #01918e;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.card {
  transition: 0.8s;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  margin: 20px;
  float: left;
  background-color: #fff;
  color: #2c3e50;
}

.card:hover {
  box-shadow: 0 8px 16px 0 #a1a6a8;
}

.container {
  padding: 2px 16px;
  align-items: center;
}

.btn-delete {
  width: 50%;
  background-color: #ff7979;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  padding: 10px 10px;
  margin: 8px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: #d16161;
}